@import "../node_modules/bootstrap/scss/bootstrap"

body
    background-color: #D3CFCE
        
.container
    border: 3px solid
    border-radius: 3px
    background-color: #BBA0A0

.col-md-3
    text-align: center
    border: solid black 1px
.th
    background-color: #876D6D
#map 
    margin: auto
    width: 600px
    height: 400px
    box-shadow: 5px 5px 5px #888
 